= simple_form_for user do |f|
  - if user.errors.any?
    = error_messages_for :user
  = f.input :login_name, hint: false
  = f.input :name, hint: false
  = f.input :name_kana, hint: false
  = f.input :email, hint: false
  = f.input :password, hint: false
  = f.input :password_confirmation, hint: false
  = f.submit nil, class: 'btn btn-large'
