= form_for @user do |f|
  - if @user.errors.any?
    = error_messages_for :user
  .field
    = f.label :username
    %br/
    = f.text_field :username
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :password
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .action
    = f.submit
