%h1 Listing users

%table
  %tr
    %th Username
    %th Icon
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.username
      %td= image_tag user.icon_url
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
