%h1= t('listing_users')
%ul
  - @users.each do |user|
    %li
      .icon= gravatar_tag user
      .login_name= user.login_name
      %ruby
        .name= user.name
        %rt.name_kana= user.name_kana
