- title @user.login_name
.icon= gravatar_tag @user, size: 100
%dl
  %dt= t('helpers.label.user.login_name')
  %dd= @user.login_name
  %dt= t('helpers.label.user.full_name')
  %dd= @user.full_name
  %dt= t('helpers.label.user.job')
  %dd= t(@user.job)
  %dt= t('helpers.label.user.description')
  %dd= simple_format @user.description
  - if @user.twitter_url?
    %dt= t('helpers.label.user.twitter')
    %dd= link_to '@' + @user.twitter_id, 'https://twitter.com/' + @user.twitter_id
  - if @user.facebook_url?
    %dt= t('helpers.label.user.facebook_url')
    %dd= link_to @user.facebook_url, @user.facebook_url
  - if @user.blog_url?
    %dt= t('helpers.label.user.blog_url')
    %dd= link_to @user.blog_url, @user.blog_url
%h3= t('active_practices')
%ul
  - @user.active_practices.each do |practice|
    %li
      .title= link_to practice.title, practice
%h3= t('completed_practices')
.row
  .span11
    .progress
      .bar(style="width: #{@user.completed_percentage}%;")
  .span1
    = number_to_percentage @user.completed_percentage, precision: 0
%ul
  - @user.completed_practices.each do |practice|
    %li
      .title= link_to practice.title, practice
- if current_user == @user
  = link_to t('edit'), edit_user_path(current_user), class: 'btn btn-primary'
