= simple_form_for practice do |f|
  - if practice.errors.any?
    = error_messages_for :practice
  = f.input :title, input_html: { class: 'input-block-level' }
  = f.input :description, input_html: { class: 'input-block-level', rows: 20 }
  = f.select :aim, Practice.aims.keys
  = f.submit nil, class: 'btn btn-primary'
