%h1= @practice.title
%span.label.label-info= t(@practice.target)
.practice= simple_format rendering(@practice.description)
= link_to t('edit'), edit_practice_path(@practice), class: 'btn btn-primary'
= link_to t('destroy'), practice_path(@practice), data: { confirm: t('are_you_sure') }, method: :delete, class: 'btn btn-danger'
