<table width="100%">
  <tr>
    <td style="word-wrap:break-word;font-size:0px;padding:24px 0 0;" align="center">
      <div style="cursor:auto; font-family: sans-serif ;text-align:center;">
        <h3 style="font-family: sans-serif; font-size: 24px; color:#4638a0; line-height: 1.4; margin-bottom: 0; font-weight: bold">企業研修の申し込み</h3>
      </div>
    </td>
  </tr>
  <tr>
    <td style="word-wrap:break-word;font-size:0px;padding:16px 24px 16px 24px;" align="left">
      <div style="cursor:auto;font-family:sans-serif; font-size:14px; line-height:1.8; text-align:left;">
        <p>
          <b style="font-weight: bold">＜企業名＞</b><br>
          <%= @corporate_training_inquiry.company_name %>
        </p>
        <p>
          <b style="font-weight: bold">＜担当者様のお名前＞</b><br>
          <%= @corporate_training_inquiry.name %>
        </p>
        <p>
          <b style="font-weight: bold">＜Email＞</b><br>
          <%= @corporate_training_inquiry.email %>
        </p>
        <p><b style="font-weight: bold">＜研修打ち合わせ希望日時＞</b></p>
        <p>
          <b style="font-weight: bold">第1希望</b><br>
          <%= l @corporate_training_inquiry.meeting_date1, format: :default %>
        </p>
        <p>
          <b style="font-weight: bold">第2希望</b><br>
          <%= l @corporate_training_inquiry.meeting_date2, format: :default %>
        </p>
        <p>
          <b style="font-weight: bold">第3希望</b><br>
          <%= l @corporate_training_inquiry.meeting_date3, format: :default%>
        </p>
        <p>
          <b style="font-weight: bold">＜予定している研修を受ける方の人数＞</b><br>
          <%= @corporate_training_inquiry.participants_count %>人
        </p>
        <p>
          <b style="font-weight: bold">＜予定している研修期間＞</b><br>
          <%= @corporate_training_inquiry.training_duration %>
        </p>
        <p><b style="font-weight: bold">＜どこでフィヨルドブートキャンプを知りましたか？＞</b></p>
        <%= simple_format @corporate_training_inquiry.how_did_you_hear %>
        <p><b style="font-weight: bold">＜その他伝えておきたいこと＞</b></p>
        <%= simple_format @corporate_training_inquiry.additional_information %>
      </div>
    </td>
  </tr>
</table>
