= simple_form_for :user, url: user_sessions_path do |f|
  .control-group
    = f.label :username, class: 'control-label'
    = f.text_field :username, placeholder: t('helpers.label.user.username')
  .control-group
    = f.label :password, class: 'control-label', placeholder: 'aaa'
    = f.password_field :password, placeholder: t('helpers.label.user.password')
  .form-actions
    = f.submit t('sign_in'), class: 'btn btn-large btn-primary'
