!!!
%html
  %head
    %title= t('256interns')
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: "#{controller_name}_#{action_name}"}
    .container-fluid
      #header
        %p#notice= notice
        %p#alert= alert
        %ul
          - if current_user
            %li= current_user.username
            %li= link_to t('users'), users_path
            %li= link_to t('practices'), practices_path
            %li= link_to t('logout'), logout_path
          - else
            %li= link_to t('sign_up'), new_user_path
            %li= link_to t('sign_in'), login_path
      .row-fluid
        .span4
        .span8
          = yield
